@model IEnumerable<MenuItem>
<style>
    .hover_scale {
        transition: 1s ease all;
    }
    
    .hover_scale:hover {
        transform: scale(1.2);
    }


        a:hover {
            
        }
    .menu-content a {
        color: white !important;
    }

        .menu-content a:hover {
            color: #d9ba85 !important;
            text-decoration: none;
        }
</style>
@if (Model.Any()) {
    @foreach (var item in Model) {
        <div class="post AllMenuItem col-lg-6 menu-item filter-starters @Model.FirstOrDefault()?.Category.Name.Replace(" ", string.Empty)">
            <img src="@item.Image" class="menu-img" alt="">
            <div class="menu-content">
                <div>
                    <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@item.Id">
                        @item.ItemName
                    </a><span>$@item.Price</span>
                </div>

                <div style="margin-left: 1rem;margin-top: .5rem">
                    <a id="add_Cart" style="cursor:pointer" onclick="AddCart(@item.Id)">
                        <i class="fas fa-cart-plus hover_scale" style="font-size: 1.5rem; color: #1c7430"></i>
                    </a>
                    <a asp-action="Detail" asp-controller="Home" asp-area="Customer" asp-route-id="@item.Id">
                        <i class="fas fa-info-circle hover_scale" style="font-size: 1.5rem; color: #138496"></i>
                    </a>
                </div>

            </div>
            <div class="menu-ingredients">
                @item.description
            </div>
        </div>
    }
}

