@model IEnumerable<Coupon>
@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}
@section Navbar {
    <partial name="_NavbarPartialView" model=@("Coupons") />
}
<style>
    td {
            font-size: 1.2rem;
        }
</style>
<br />

    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Coupon List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-action="Create">Create Coupon</a>
        </div>
    </div>

    <div>
        @if (Model.Count() > 0) {
            <table class="table ">
                <tr class="thead-dark">
                    <th>
                        Coupon Image
                    </th>
                    <th>
                        Coupon Name
                    </th>
                    <th>
                        Coupon Discount
                    </th>
                    <th>
                        Coupon MinimunAmount
                    </th>
                    <th>
                        Is Active
                    </th>
                    <th>
                        
                    </th>
                </tr>
                @foreach (var item in Model) {
                    <tr >
                        @{
                            var imageSrc = "";
                            if (item.CouponImage != null) {
                                var base64String = Convert.ToBase64String(item.CouponImage);
                                imageSrc = "data:image/gif;base64," + base64String;
                            }
                        }
                        @if (imageSrc != "") {
                            <td><img src="@imageSrc" alt="Alt text" width="50px" height="50px"></td>
                        }
                        else {
                            <td>Not Image</td>
                        }
                        <td>@item.CouponName</td>
                        <td>@item.Discount</td>
                        <td>@item.MinimumAmount</td>
                        <td><input onclick="this.checked=!this.checked;" 
                                   type="checkbox" @(item.IsActive ? "checked" : "")/></td>
                        <td><partial name="_GroupButtonPartial" model="item.CouponId"/></td>
                    </tr>

                }
            </table>
        }
        else {
            <p>Category list is empty</p>
        }
    </div>


