@page
@model LoginModel
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Log in";
}



<style>
  .hover-active:hover {
    transition: 1s ease all;
    transform: scale(1.2);
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/fonts/icomoon/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="~/css/login_style.css">

<div class="content" style="padding: 1rem 0">


    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="~/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">

                            <h3 style="color:black">Sign In to 
                            <strong style="color:black">our Restaurant</strong>
                            </h3>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <form id="account" method="post">
                            <div class="form-group first">
                                <input asp-for="Input.Username" placeholder="Username" type="text" class="form-control">
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>
                            <div class="form-group last mb-4">
                                <input asp-for="Input.Password" placeholder="Password" type="password" class="form-control">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0">
                                    <span class="caption">Remember me</span>
                                    <input asp-for="Input.RememberMe" type="checkbox"/>
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto">
                                    <a asp-page="./ForgotPassword" class="forgot-pass">Forgot Password</a>
                                </span>
                            </div>

                            <button type="submit" class="btn text-white btn-block btn-primary">Login</button>
                            <p class="d-block text-left my-4 text-muted" style="color: #6c757d!important;">
                                Doesn't have a account ? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
                                                            style="color: #0a6ebd;cursor: pointer;">Sign up</a>
                            </p>
                            <span class="d-block text-left my-4 text-muted"> or sign in with</span>
                            @if (TempData["AlreadyTaken"] != null) {
                                <partial name="_StatusMessage" model="@TempData["AlreadyTaken"]"/>
                            }
                             
                             
                        </form>
                        <form  asp-page="./ExternalLogin" 
                              asp-route-returnUrl="@Model.ReturnUrl" method="post" class="social-login">
                            
                             @foreach (var provider in Model.ExternalLogins)
                             {
                                 
                                 <button type="submit" 
                                         class="hover-active @(provider.DisplayName == "Facebook" ? "facebook" : "google") "
                                         
                                         name="provider"
                                         value="@provider.Name" title="Log in using your @provider.DisplayName account"
                                         style="border: none">
                                     <span class=@(provider.DisplayName == "Facebook" ? "icon-facebook mr-3" : "icon-google mr-3")>
                                         
                                     </span>
                                 </button>
                             }                
                            @* <button style="border: none"  class="twitter hover-active"> *@
                            @*     <span class="icon-twitter mr-3"></span> *@
                            @* </button> *@
                            @* <a href="#" class="google hover-active"> *@
                            @*     <span class="icon-google mr-3"></span> *@
                            @* </a> *@
                        </form>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script type="text/javascript"> 
            function submitform() {   document.getElementById('external-account').submit()}
       </script>

}

@*   <script> *@
@*     $(function() { *@
@*     	'use strict'; *@
@*     if ($('#username').val().length > 0) { *@
@*       $field.addClass('field--not-empty'); *@
@*     } *@
@*     	 *@
@*       $('.form-control').on('input', function() { *@
@*     	  var $field = $(this).closest('.form-group'); *@
@*     	  if (this.value) { *@
@*     	    $field.addClass('field--not-empty'); *@
@*     	  } else { *@
@*     	    $field.removeClass('field--not-empty'); *@
@*     	  } *@
@*     	}); *@
@*      *@
@*     }); *@
@*     </script> *@
@* } *@