@page
@using Spice.Utilities
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    
}
@if (User.IsInRole(UserRole.Manager) || User.IsInRole(UserRole.FrontDesk)) {
    Layout = "_Admin";
 @section Navbar {
     <partial name="_NavbarPartialView" model="string.Empty" />
 }
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Create a new account.</h4>
            <hr/>
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
            <partial name="_StatusMessage" model="@TempData["TempMessage"]"/>
            <div class="form-group row">
                <div class="col-3 ">
                    <label asp-for="Input.Name" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Name" class="form-control"/>
                </div>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3 ">
                    <label asp-for="Input.Username" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Username" class="form-control"/>
                </div>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.Email" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Email" class="form-control"/>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3 ">
                    <label asp-for="Input.Address" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Address" class="form-control"/>
                </div>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3 ">
                    <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input placeholder="like +84....." asp-for="Input.PhoneNumber" class="form-control"/>
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3 ">
                    <label asp-for="Input.Password" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.Password" class="form-control"/>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                </div>
                <div class="col-9">
                    <input asp-for="Input.ConfirmPassword" class="form-control"/>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="form-group row">
                <div class="col-3">
                    <label class="col-form-label">Image</label>
                </div>
                <div class="col-9">
                    <input type="file" name="files" class="form-control"/>
                </div>
            </div>
            
            @if (User.IsInRole(UserRole.Manager)) {
                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label">Role</label>
                    </div>
                    <div class="col-9">
                        <input name="role" checked type="radio" value="@UserRole.Manager"/>@UserRole.Manager
                        <input name="role" type="radio" value="@UserRole.FrontDesk"/>@UserRole.FrontDesk
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-3"></div>
                <div class="col-9">
                    <button type="submit" class="btn btn-primary form-control">Register</button>
                </div>
            </div>
            
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}